/*html, body{
  height: 100%;
	margin: 0;
	padding: 0;
	background-size: 100%;
  background-repeat: no-repeat;
  background: #42a5f5;
}*/




  /*#custom-border-radius{
    margin-top: -10px;
  }*/
/*.topo{
  background-color: black;
}*/
/*.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited{
  background-color: #f3f3f3
}*/

/*
.ui-icon-car:after {
    background-image: url("images/icons-png/car-white.png") !important;
    background-size: 18px 18px;
}*/