/*html, body{
  height: 100%;
	margin: 0;
	padding: 0;
	background-size: 100%;
  background-repeat: no-repeat;
  background: #42a5f5;
}*/




  /*#custom-border-radius{
    margin-top: -10px;
  }*/
/*.topo{
  background-color: black;
}*/
/*.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited{
  background-color: #f3f3f3
}*/

/*
.ui-icon-car:after {
    background-image: url("images/icons-png/car-white.png") !important;
    background-size: 18px 18px;
}*/

legend {
  color: #fff;
}

/* configura estilo dos botões círculo e texto abaixo deles */
.bubble-button > div {
  width: 30vw;
  height: 30vw;
  margin: auto;
  border-radius: 50% !important;
  border: 0.3em solid #F5BA39 !important;
  background-color: #fff !important;
}
.bubble-button + span {
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-top: 0.5em;
}
.bubble-button > div > img {
  padding: 5vw;
}

/* mesmo estilo de botão mas estático */
.bubble-icon {
  width: 40vw;
  height: 40vw;
  margin: auto;
  border-radius: 50% !important;
  border: 0.3em solid #F5BA39 !important;
  background-color: #fff !important;
}
.bubble-icon + span {
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-top: 0.5em;
}
.bubble-icon > img {
  padding: 5vw;
}

/* encolhe linha de botões e arruma espaço vertical entre linhas */
.button-row {
  width: 85vw;
  padding: 0.5em 0 0.5em 0;
  margin: auto;
}

/* maior espaço pra título */
.ui-header .ui-title { margin-left: 1em; margin-right: 1em; }
