<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "br.teste.alter"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->
	
	<!--nome do app-->
    <name>Lupa</name>

	<!--descrição-->
    <description>
	Aplicação para mapeamento de saneamento básico e iluminação pública no bairro do Novo Horizonte em Macapá.
    </description>

	<!--autor-->
    <author href="https://lupanh.000webhostapp.com/LUPANH/front/" email="altemirap25@gmail.com">
		Altemir Almeida
    </author>
	  <platform name="android"/>
  	  <plugin name="cordova-plugin-geolocation" spec="1.0.1" source="npm"/>

	  <preference name="orientation" value="portrait" />
	  <!--<preference name="fullscreen" value="true" />-->

	
	<!--plugins-->

	
	<!--splashcreen-->

</widget>
