
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* margin: 0;
    padding: 0; */
  }
#map{
    height:80%; 
}

#marker{

    text-align: center;
    font-weight: bold;
    
}

.box{
    display: inline-block;
    margin-left: 3%;
}

#header{
  
    background-color: black;
    width: 100%;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    
}